
$fontSansSerif: 'Poppins', sans-serif;

@font-face{
    font-family: 'Onest300';
    src: url('../fonts/OnestLight1602-hint.ttf');
}

@font-face{
    font-family: 'Onest500';
    src: url('../fonts/OnestMedium1602-hint.ttf');
}

@font-face{
    font-family: 'Onest700';
    src: url('../fonts/OnestBold1602-hint.ttf');
}

$fontCursive: 'Yeseva One', cursive;
$fontMono: 'Red Hat Mono', monospace;

$beige: #fef6e4;
$ivory: #faebd7;

$navyBlue: #172c66;
$cyan: #7cd1c3; 
$babyBlue: #61DAFB;

$green: #7ece99; 
$blue: #1c78c0; 

$peach: #fcdccc;
$orange: #e09f7f;

$pink: #f097b9;
$hotPink: #f06988;

$skyBlue: #889bdb;
$lilac: #d3bcee;

$yellow: #F0DB4F;
$yolk: #f0dd88; 

$black: rgb(43, 43, 43);
$shadow:  #d3b09e;

$xs: 380px;
$sm: 550px;
$md: 770px;
$lg: 1000px;
$xl: 1440px;
$xxl: 2400px; 