
$fontSansSerif: 'Poppins', sans-serif;
$fontCursive: 'Yeseva One', cursive;
$fontMono: 'Red Hat Mono', monospace;

$beige: #fef6e4;
$ivory: #f3e1d8;
$navyBlue: #172c66;
$cyan: #73ddb6a6; 
$peach: #f3d2c1;
$pink: #f582ae;
$hotPink: #f06988;
$skyBlue: #6dc1cca6;
$yellow: #ffedb3;
$yolk: #f3d13ba6;
$lilac: #b095cfa6;

$shadow:  #d6ab95;

$sm: 430px;
$md: 770px;
$lg: 1000px;
$xl: 1440px;
$xxl: 2500px;