
$fontSansSerif: 'Poppins', sans-serif;
$fontCursive: 'Yeseva One', cursive;
$fontMono: 'Red Hat Mono', monospace;

$beige: #fef6e4;
$ivory: #f3e1d8;

$navyBlue: #172c66;
$cyan: #7cd1c3; 

$green: #7ece99;
$blue: #2268a1;

$peach: #f3d2c1;
$orange: #e09f7f;

$pink: #f097b9;
$hotPink: #f06988;

$skyBlue: #889bdb;
$lilac: #d3bcee;

$yellow: #f1da8f;
$yolk: #f0dd88; 


$shadow:  #d3b09e;


$sm: 430px;
$md: 770px;
$lg: 1000px;
$xl: 1440px;
$xxl: 2500px;