@font-face {
  font-family: "Onest300";
  src: url("../fonts/OnestLight1602-hint.ttf");
}
@font-face {
  font-family: "Onest500";
  src: url("../fonts/OnestMedium1602-hint.ttf");
}
@font-face {
  font-family: "Onest700";
  src: url("../fonts/OnestBold1602-hint.ttf");
}
@font-face {
  font-family: "Onest900";
  src: url("../fonts/OnestBlack1602-hint.ttf");
}
* {
  padding: 0;
  margin: 0;
  transition: ease-in-out 200ms;
}

.home,
.experience,
.projects,
.skills,
.contact {
  padding: 0 10%;
  width: auto;
}

.contact-sides {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-email {
  left: 20px;
}

.email-div {
  width: 20px;
  transform: rotate(270deg);
}

.email-text {
  font-size: 16px;
  font-family: "Onest300";
  color: #f06988;
  text-decoration: none;
}
.email-text:hover {
  font-size: 17px;
}

.side-links {
  right: 20px;
}

.links {
  list-style: none;
}

.up-btn {
  opacity: 0;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 50px;
}
.up-btn:hover {
  transform: scale(1.2);
}

.resume-lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #f06988;
  font-family: "Onest500";
  font-size: 10px;
}

.link-image {
  margin-top: 15px;
  cursor: pointer;
}
.link-image:hover {
  transform: scale(1.2);
}

.line {
  position: relative;
  background-color: #f06988;
  height: 150px;
  width: 2px;
  border-radius: 5px;
  margin-top: 15px;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: 50px;
}

.title {
  color: #172c66;
  font-family: "Yeseva One", cursive;
  font-size: 40px;
}

.title-number {
  font-family: "Onest700";
  font-size: 30px;
}

.title-line {
  position: relative;
  width: 200px;
  height: 1px;
  margin-left: 20px;
  background-color: #172c66;
}

.nav-bar {
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.nav-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brand-pic {
  height: 40px;
  border-radius: 50px;
  margin-right: 20px;
}

.brand-name {
  font-size: 18px;
  font-family: "Onest500";
  color: #172c66;
}

.nav-elements {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  overflow: hidden;
}

.nav-number {
  font-family: "Onest700";
  margin-right: 5px;
}

.nav-item {
  font-family: "Onest300";
  margin: auto;
  height: 45px;
  margin-right: 25px;
}
.nav-item a {
  display: flex;
  flex-direction: row;
  color: #172c66;
  text-decoration: none;
  margin-top: 10px;
}

.underline-hidden {
  width: 100%;
  background: linear-gradient(to left, #fcdccc 50%, #f097b9 50%) right;
  background-size: 200% 2px;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.underline-hidden:hover {
  background-position: bottom left;
}

.nav-button {
  padding: 10px 20px;
  border-radius: 5px;
  background: linear-gradient(to left, #fcdccc 50%, #f097b9 50%) right;
  background-size: 201%;
}
.nav-button:hover {
  background-position: left;
}
.nav-button .nav-resume-link {
  text-decoration: none;
  background-color: transparent;
  color: #172c66;
  font-family: "Onest500";
  display: flex;
}

.menu-button {
  display: none;
}

#switch-lang {
  background-color: transparent;
  border: none;
  text-align: start;
}
#switch-lang:hover {
  cursor: pointer;
}

.home {
  height: 100vh;
  background-color: #fef6e4;
}

.hero {
  width: 65%;
}

.sub-heading {
  color: #f06988;
  text-transform: uppercase;
  font-family: "Onest500";
  font-size: clamp(16px, 8vw, 18px);
  padding-top: 200px;
}

.sub-line {
  height: 2px;
  width: 40vw;
  margin-top: 10px;
  background-color: #f06988;
}

.main-heading {
  font-family: "Yeseva One", cursive;
  color: #172c66;
  font-size: clamp(35px, 7vw, 50px);
  font-weight: 100;
  padding-top: 20px;
}

.text-heading {
  font-family: "Onest300";
  color: #172c66;
  font-size: 24px;
  letter-spacing: 0.25px;
  padding-top: 20px;
}

.experience {
  height: -moz-max-content;
  height: max-content;
  background-color: #fcdccc;
  padding: 10%;
}

.experience-container {
  background-color: #faebd7;
  border-radius: 5px;
  padding: 40px;
  margin: auto;
  box-shadow: 3px 3px 50px #d3b09e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: right;
}

.experience-title-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experience-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.experience-details {
  font-family: "Red Hat Mono", monospace;
  font-size: 14px;
  color: #172c66;
  font-weight: 300;
  margin: 20px 0;
}

.experience-info {
  list-style-type: circle;
}

.experience-info-item {
  margin-bottom: 10px;
  background: no-repeat left top;
  font-size: 15px;
}

.style-info {
  font-family: "Onest500";
}

.projects {
  height: -moz-fit-content;
  height: fit-content;
  background-color: #faebd7;
  padding: 10%;
}

.project-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 75px;
}

.project-one,
.project-two,
.project-three,
.project-four,
.project-five,
.project-six {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 100px;
}

.left {
  width: 50%;
  position: relative;
}
.left::before {
  content: "";
  display: block;
  position: absolute;
  left: 0%;
  top: -10%;
  right: 50%;
  height: 250px;
  width: 250px;
  box-shadow: 3px 3px 30px #d3b09e;
  border-radius: 5px;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: right;
}

.yellow::before {
  background-image: linear-gradient(45deg, #f0dd88, #fcdccc);
}

.pink::before {
  background-image: linear-gradient(45deg, #d3bcee, #f097b9);
  box-shadow: 3px 3px 30px #d3b09e;
}

.green::before {
  background-image: linear-gradient(45deg, #889bdb, #7cd1c3);
  box-shadow: 3px 3px 30px #d3b09e;
}

.title-yellow {
  color: #e09f7f;
}

.title-pink {
  color: #f097b9;
}

.title-green {
  color: #889bdb;
}

.left-proj-img {
  height: 220px;
  width: 350px;
  position: relative;
  z-index: 2;
  top: -5px;
  right: -25%;
  border-radius: 20px;
  border: 1px solid #fef6e4;
  box-shadow: 4px 5px 11px #fef6e4;
}
.left-proj-img:hover {
  transform: scale(1.03);
}

.proj-crypto,
.proj-signup,
.proj-journal,
.proj-jokes,
.proj-todo,
.proj-games {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.proj-crypto {
  background-image: url(../img/crypto.png);
}

.proj-signup {
  background-image: url(../img/newsletter.png);
}

.proj-journal {
  background-image: url(../img/journal.png);
}

.proj-jokes {
  background-image: url(../img/jokes.png);
}

.proj-todo {
  background-image: url(../img/todo.png);
}

.proj-games {
  background-image: url(../img/games.png);
}

.project-link-one,
.project-link-four,
.experience-title {
  text-decoration: none;
  width: 65%;
  background: linear-gradient(to left, #faebd7 50%, #e09f7f 50%) right;
  background-size: 200% 1px;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.project-link-one:hover,
.project-link-four:hover,
.experience-title:hover {
  background-position: bottom left;
}

.project-link-two,
.project-link-five {
  text-decoration: none;
  width: 65%;
  background: linear-gradient(to left, #faebd7 50%, #f097b9 50%) right;
  background-size: 200% 1px;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.project-link-two:hover,
.project-link-five:hover {
  background-position: bottom left;
}

.project-link-three,
.project-link-six {
  text-decoration: none;
  width: 65%;
  background: linear-gradient(to left, #faebd7 50%, #889bdb 50%) right;
  background-size: 200% 1px;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.project-link-three:hover,
.project-link-six:hover {
  background-position: bottom left;
}

.right-title,
.experience-title {
  font-family: "Yeseva One", cursive;
  font-size: 24px;
  margin-bottom: 5px;
}

.right-tech {
  font-family: "Red Hat Mono", monospace;
  font-size: 14px;
  color: #172c66;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 20px;
}

.right-info,
.experience-info {
  font-family: "Onest300";
  font-size: 18px;
  color: #172c66;
}

.skills {
  height: -moz-max-content;
  height: max-content;
  background-color: #fcdccc;
  padding: 10%;
}

.skills-container {
  background-color: #faebd7;
  border-radius: 5px;
  padding: 40px;
  margin: auto;
  box-shadow: 3px 3px 50px #d3b09e;
}

.skills-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.skills-icon-box {
  width: 165px;
  padding: 15px;
  text-align: center;
}

.skills-icon {
  color: #889bdb;
  font-size: 60px;
}

.skills-icon-title {
  color: #172c66;
  font-family: "Red Hat Mono", monospace;
  font-weight: 300;
  margin-top: 15px;
}

.skills-currently-working {
  margin-top: 70px;
  width: 70vw;
}

.skills-working-title {
  font-family: "Yeseva One", cursive;
  font-size: 20px;
  margin-bottom: 10px;
  color: #172c66;
}

.skills-working-text {
  font-family: "Onest300";
  font-size: 18px;
  color: #172c66;
}

.html:hover {
  color: #e09f7f;
}

.css:hover,
.webpack:hover,
.jquery:hover {
  color: #1c78c0;
}

.js:hover {
  color: #F0DB4F;
}

.react:hover {
  color: #61DAFB;
}

.sass:hover,
.figma:hover {
  color: #f06988;
}

.php:hover {
  color: #d3bcee;
}

.git:hover {
  color: rgb(43, 43, 43);
}

.mongo:hover,
.node:hover {
  color: #7ece99;
}

.bootstrap:hover {
  color: #d3bcee;
}

.MySQL:hover {
  color: #172c66;
}

.bootstrap:hover {
  color: #d3bcee;
}

.contact {
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fef6e4;
  padding: 10%;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: linear-gradient(45deg, #f097b9, #f0dd88);
  box-shadow: 3px 3px 30px #d3b09e;
  padding: 5%;
  border-radius: 5px;
  align-items: center;
}

.contact-text {
  width: 45%;
  text-align: left;
  font-family: "Onest300";
  font-size: 20px;
  color: #172c66;
}

.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(to left, #fef6e4 50%, #f097b9 50%) right;
  background-size: 201%;
}
.contact-button:hover {
  background-position: left;
}

.contact-link {
  text-decoration: none;
  font-family: "Onest500";
  text-align: center;
  color: #172c66;
  font-size: 20px;
}

.footer {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #f097b9;
}

.footer-text,
#footer-year {
  font-family: "Onest300";
  font-size: 14px;
  color: #172c66;
}

@media screen and (min-width: 2400px) {
  .nav-bar {
    height: 100px;
  }
  .nav-button {
    padding: 20px 30px;
  }
  .nav-item,
  .nav-resume-link {
    font-size: 30px;
  }
  .hero {
    position: relative;
    top: 400px;
  }
  .sub-heading,
  .text-heading {
    font-size: 30px;
  }
  .main-heading {
    font-size: 80px;
  }
  .contact-sides {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .side-email {
    left: 20px;
  }
  .email-div {
    width: 20px;
    transform: rotate(270deg);
  }
  .email-text {
    font-size: 16px;
    font-family: "Onest300";
    color: #f06988;
    text-decoration: none;
  }
  .email-text:hover {
    font-size: 17px;
    color: #172c66;
  }
  .left::before {
    height: 400px;
    width: 500px;
  }
  .left-proj-img {
    height: 370px;
    width: 400px;
  }
  .right-title,
  .experience-title {
    font-size: 36px;
  }
  .right-tech {
    font-size: 22px;
  }
  .right-info,
  .experience-info-item {
    font-size: 24px;
  }
  .skills-icon-box {
    width: 270px;
  }
  .skills-icon {
    font-size: 80px;
  }
  .skills-working-title {
    font-size: 32px;
  }
  .skills-working-text {
    font-size: 24px;
  }
  .contact-text,
  .contact-link,
  .footer-text {
    font-size: 24px;
  }
}
@media screen and (max-width: 1440px) {
  .left-proj-img {
    height: 200px;
    width: 300px;
    top: 5px;
    border-radius: 20px;
    border: 1px solid #fef6e4;
    box-shadow: 4px 5px 11px #fef6e4;
  }
}
@media screen and (max-width: 1000px) {
  .menu-button {
    position: absolute;
    cursor: pointer;
    display: block;
    right: 20px;
    top: 45px;
  }
  .menu-button .hamburger:hover {
    stroke: #172c66;
  }
  .nav-elements {
    display: none;
  }
  .responsive-nav {
    width: 30%;
    right: 25px;
    background-color: #faebd7;
    border-radius: 5px;
    padding: 20px;
    display: block;
    position: absolute;
    top: 110px;
    right: 20px;
    opacity: 0;
  }
  .responsive-nav .nav-button {
    margin-top: 15px;
    margin-right: 0;
  }
  .shown {
    opacity: 1;
  }
  .left::before {
    height: 200px;
  }
  .left-proj-img {
    top: 10px;
    left: 55px;
    height: 150px;
    width: 250px;
  }
  .right-title,
  .experience-title {
    font-size: 20px;
  }
  .right-info,
  .experience-info-item {
    font-size: 16px;
  }
  .skills-icon-box {
    width: 145px;
  }
}
@media screen and (max-width: 770px) {
  .responsive-nav {
    width: 30%;
  }
  .nav-item a {
    margin-top: 15px;
  }
  .underline-hidden {
    background-size: 200% 2px;
  }
  .hero {
    width: 80%;
    padding-left: 30px;
  }
  .sub-heading {
    font-size: 14px;
  }
  .main-heading {
    font-size: 36px;
  }
  .text-heading {
    font-size: 20px;
  }
  .title,
  .title-number,
  .skills-currently-working {
    font-size: 20px;
  }
  .title-line {
    width: 150px;
  }
  .project-one,
  .project-two,
  .project-three,
  .project-four,
  .project-five,
  .project-six {
    flex-direction: column;
  }
  .left {
    width: 100%;
    position: relative;
  }
  .left::before {
    height: 200px;
    width: 200px;
  }
  .right {
    width: 100%;
    position: relative;
    top: 60px;
  }
  .skills-container {
    padding: 10px;
  }
  .skills-icon-box {
    padding: 10px;
    width: 70px;
  }
  .skills-icon {
    font-size: 40px;
  }
  .skills-icon-title {
    font-size: 13px;
  }
  .skills-working-text,
  .contact-text,
  .contact-link {
    font-size: 16px;
  }
}
@media screen and (max-width: 550px) {
  .responsive-nav {
    width: 65%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .nav-item a {
    margin-top: 15px;
  }
  .experience,
  .projects,
  .skills,
  .contact {
    padding-left: 80px;
    padding-right: 80px;
  }
  .right-info,
  .skills-working-text,
  .contact-text,
  .contact-link,
  .experience-info-item {
    font-size: 14px;
  }
  .left-proj-img {
    left: 0;
    height: 145px;
    width: 250px;
  }
  .skills-currently-working {
    width: 95%;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-text {
    width: 90%;
    text-align: center;
    margin-bottom: 15px;
  }
  .contact-button {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 380px) {
  .responsive-nav {
    width: 65%;
    right: 55px;
  }
  .left::before {
    height: 145px;
    width: 100px;
  }
  .left-proj-img {
    height: 100px;
    width: 170px;
    left: 5px;
  }
  .skills-icon-box {
    width: 45px;
  }
  .skills-icon-title,
  .contact-text,
  .contact-link,
  .footer-text {
    font-size: 10px;
  }
  .skills-working-title {
    font-size: 15px;
  }
  .skills-working-text {
    width: 80%;
    font-size: 10px;
  }
  .nav-item a {
    margin-top: 15px;
  }
}/*# sourceMappingURL=style.css.map */